.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: -180px;
    right: 15%;
    bottom: 150;
    left: auto;
    margin: auto;


.solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
 }
} // not doing SVG